################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/уп01/studentattendancelog/.vs/studentattendancelog/FileContentIndex/a78427a6-eea2-4be9-8e18-f7c29dbeb00d.vsidx
