@page
@using studentattendancelog.Pages;
@model IndexModel
@{
    ViewData["Title"] = "Журнал посещаемости студента";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать в StuAtDance</h1>
    <p>Здесь вы можете узнать посещаемость конкретного студента на каком-либо занятии.</p>
    <p>Изучите <a href="/Lessons">занятия</a> или <a href="/Students">список студентов</a>.</p>
</div>